body {
    margin: 0 auto;
}
/* Button */
.nav-top{
    position: absolute;
    width: 100%;
}
.nav-top i{
    font-size: 68px;
    margin-left: 20px;
    color: black;
    cursor: pointer;
}
.nav-top i:hover{
    color: orangered;
}
.links{
    position: absolute;
    width: 95%;
    background-color: black;
    height: 90vh;
    z-index: 99;
    overflow: scroll;
    text-align: center;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: all 0.3s;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    transition: all 0.3s;   
}

.links > div{
    background-color: rgb(138, 138, 138);
    width: 300px;
    margin: 10px auto;
    padding:10px;
    border-radius: 10px;
    font-size: 22px;
    color: white;
    transition: all 0.3s;  
}
.links > div:hover{
    background-color: rgb(97, 95, 95)
}
.links > div > a{
    display: block;
    color: white;
    text-decoration: none;
}
.activeLinks{
    visibility: visible;
    transform: scaleY(1);
}

.klik-close{
    color: red !important;
    
    
}
.klik-close:hover{
    color: black !important;
  }

/* Formularz  */
main {
    text-align: center;
    background-color: rgb(252, 220, 160);
    padding: 50px;
}
form {
    max-width: 500px;
    margin: 0 auto;
}

input,
textarea {
    width: 100%;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 10px;
    padding: 5px 5px 5px 10px;

}

label {
    font-size: 18px;
    font-weight: 600;
}

input {
    height: 20px;
}

textarea {
    height: 200px;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #ff4500;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
}
button:hover{
    background-color: red;
}

div {
    margin: 20px;
}

.active {
    border: 2px solid #ff0000;
    background-color: rgb(250, 217, 211);
    color: gray;
}

.error {
    box-sizing: border-box;
    background-color: rgb(250, 217, 211);
    height: 200px;
    margin: 50px auto;
    text-align: center;
    border: 5px solid #ff0000;
    display: none;
}

.err {
    display: block;
}

ul {
    list-style-type: none;
}

ul>li {
    margin: 0;
    padding-bottom: 5px;
    font-size: 18px;
    color: #ff0000;
    font-weight: 600;
}

/* Stopka */
footer>nav {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: black;
    border-top: 5px solid #ff0000;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.ul-top,
.ul-top li,
.ul-down li a {
    color: white;
    letter-spacing: 2px;
}

.li-top {
    background-color: grey;
    width: 300px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
}

.ul-down li {
    padding-bottom: 8px;
    text-align: center;
}

.act,
.act2 {
    display: none !important;
}



@media only screen and (max-width: 900px) {

    /* Stopka */

    .ul-top {
        width: 100%;
    }

    .li-top {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        cursor: pointer;
        width: 40%;
    }

    .act,
    .act2 {
        display: inline-block !important;
    }

    .plus,
    .minus {
        display: none !important;
    }

    .ul-down {
        height: 120px;
        visibility: visible;
        transform: scaleY(1);
        transform-origin: 50% 0;
        transition: all 0.2s linear;
        padding-bottom: 10px;
    }

    .ulActive {
        visibility: hidden;
        transform: scaleY(0);
        text-align: center;
        height: 0;
    }
}